{% extends 'base.html.twig' %}
{% set isHeader         = false %}
{% block body %}
    
    {# get flash message here #}
    {% for flash_message in app.session.flashBag.get('notice') %}  
        <div class="flash-notice"> {{ flash_message }} </div>
    {% endfor %}
    
  
    {% if user %} 
        
  
       <table class='table'> 
            <tr>
                <td> Email </td>
                <td> <input type='email' value='{{ user.email }}'/> </td>
            </tr>
            <tr>
                <td> Username </td>
                <td><input type='username' value='{{ user.username }}'/></td>
            </tr>            
            <tr>
                <td> Role </td>
                <td>              
                    {% for js in user.roles %}                                                     
                        <input type='role' value='{{ js }} '/>
                    {% endfor %}                                
                </td>
            </tr>
            <tr>
                <td>  </td>
                <td><input type='submit' value='Submit'/></td>
            </tr>
        </table>
    
   
    {% endif %}
    
{% endblock %}
{% set isFooter = false %}