{% extends 'base.html.twig' %}
{% set isHeader        = false %}
{% block body %}

    {% block content %}
        <form action="" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" />
        </form>
    {% endblock %}
    
    {% if data_upload %}
    {% for data in data_upload %}
        {% for item in data %}    
            {{ item }}<br/>
        {% endfor %}        
    {% endfor %}
    {% endif %}
        
{% endblock %}

{% set isFooter         = false %}
